<div class="top-warraper">
    <div class="top-container">
        <div class="content">
        <h1><span class="toha">ようこそ</span>KiKiマス<span class="toha">へ</span></h1>
        <h2>KiKiマス<span class="toha">とは</span></h2>
        <h3>人には直接言えない悩みなどを、匿名で投稿することができるSNSです。</h3>
        <h3>老若男女問わずどんどん悩みを打ち明けよう！そして繋がろう！</h3>
            
        </div>
    </div>
    <div class="entry">
    <div class="signup">
        <%=link_to("新規登録", "/users/sign_up")%>
    </div>
    <div class="login"><%=link_to("ログイン", "/users/sign_in")%></div>
        
    </div>
</div>
    <header>
        <div class="container">
            <div class="header-left">KiKiマス</div>
            <div class="header-right">
            <a href=users/sign_in>ログイン</a>
        </div>
    </header>

